<div class="jumbotron website_jumbotron" style="background-image:url('<%= @website.home_cover.to_s %>')">
  <h1 style="color: <%= @website.jumbotron_text_color %>"><%= @website.home_title %></h1>
  <p style="color: <%= @website.jumbotron_text_color %>"><%= @website.home_body %></p>
</div>

<script>
	$(document).ready(function(){
		var jumbotronHeight = $(window).height() - 167;
		$(".jumbotron").height(jumbotronHeight);
	});
</script>

