<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(@page , html: { role: :form }) do |f| %>
          <% if @page.errors.any? %>
            <div class="alert alert-danger">
              <%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:
              <ul>
              <% @page.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :title %><small> (will appear in website's navbar)</small><br>
            <%= f.text_field :title, class: "form-control input-with-feedback nikofe-input" %>
          </div>
          <div class="form-group">
            <%= f.label :body %><br>
            <%= f.bootsy_area :body, class: "form-control", rows: 12 %>
          </div>
          <div class="form-group">
            <%= f.label :address %><small> (If you want to add a map beneath the page's body, enter full address (street, city, country).)</small><br>
            <%= f.text_field :address, class: "form-control input-with-feedback nikofe-input" %>
          </div>
          <div class="form-group">
            <%= f.label :navbar_item_id %><br>
            <%= f.select :navbar_item_id, @navbar_items.collect {|i| [ i.name, i.id ] }, { include_blank: true },
              class: "form-control nikofe-input", id: "navitem-select" %>
          </div>
          <div><%= f.submit @button_text, class: "btn btn-default" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

