<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">	
		<div class="navbar-inner">
			<div class="navbar-header">
	      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <%= link_to "Nikofe", root_path, :class => 'navbar-brand' %>
    	</div>
			<nav>
				<ul class="nav navbar-nav">
					<% if user_signed_in? %>
						<li><%= link_to "Website structure", website_structure_path, :class => 'navbar-link' %></li>
						<% if @website && @website.name %>
							<li><%= link_to "Website preview", website_preview_path(website_slug: @website.slug), :class => 'navbar-link', :target => '_blank' %></li>
						<% end %>
					<% end %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
  					<li><%= link_to 'Edit account', edit_user_registration_path, :class => 'navbar-link' %></li>
  					<li><%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>